.body {
    -fx-background-color: #dedede !important; /* GREY */
}

.orange {
    -fx-background-color: #FFA500 !important; /* ORANGE */
}

.border-color {
    -fx-background-color: rgba(0,0,0,0.50) !important;
}

.mainMenu-background {
    -fx-background-color: #707070 !important;
}

.sideMenu-color {
    -fx-background-color: #989898 !important;
}

.button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.50);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: rgba(0,0,0,0.50);
    -fx-background-color: #eaeaea;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-background-color: #c9c9c9;
}

.more-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-width: 0;
    -fx-background-color: #ffa500;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.more-button:hover {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-width: 0;
    -fx-background-color: #ffbe4d;

}

.button-card {
    -fx-background-radius: 20px;
    -fx-text-fill: #FFF;
    -fx-border-radius: 20px;
    -fx-border-color: none !important;
    -fx-background-color: #4f4f4f;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button-card:hover {
    -fx-background-color: #424242;
}

.button-card-booking {
    -fx-background-radius: 20px;
    -fx-text-fill: #FFF;
    -fx-font-size: 15px;
    -fx-border-color: none !important;
    -fx-background-color: #4f4f4f;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field:focused {
    -fx-border-color: #FFA500;
    -fx-border-width: 3px;
}

.label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.50);
}

.label-2 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.50);
}

.label-3 {
    -fx-font-size: 9px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 3, 0.5, 1, 1);
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0 0 10 0; /* top, right, bottom, left */
}

.combo-box {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.80);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: rgba(0,0,0,0.50);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box:hover {
    -fx-text-fill: orange;
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.combo-box .list-cell {
    -fx-background-radius: 15px;
}

.combo-box .list-cell:hover {
    -fx-background-color: rgba(210, 210, 210, 0.2);
    -fx-text-fill: orange;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.combo-box .list-cell:selected {
    -fx-background-color: none !important;
    -fx-text-fill: rgba(0,0,0,0.50); /* ComboBox Fix */
}

.combo-box .list-view {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-background-color: white;
}

.welcome-label {
    -fx-text-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 3, 0.5, 1, 1);
    -fx-font-weight: bold;
    -fx-padding: 20 10 10 10;
    -fx-wrap-text: true;
    -fx-max-width: 250px; /* Width of the info text */
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.header {
    -fx-background-color: #696969; /* Your Bookings ETC // COLOR */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 25px;
    -fx-text-fill: #fff;
    -fx-max-width: 500px;
    -fx-max-height: 61px; /* Button size + border size */
    -fx-text-alignment: CENTER;
    -fx-border-color: #464646;
}

.star {
    -fx-text-fill: #ffcc00;
    -fx-font-size: 16px;
}

.card-text {
    -fx-text-fill: #FFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold !important;
}


.card-text-header {
    -fx-text-fill: #FFF;
    -fx-font-size: 22px;
    -fx-font-weight: bold !important;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-background-color: rgb(255, 183, 0);
    -fx-background-radius: 20px 20px 0 0;
    -fx-padding: 10;
    -fx-min-width: 200px;
}

.combo-box > .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: null;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}

.combo-box > .arrow-button > .arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.combo-box-booking-fix {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-margin: 0;
}

.combo-box-booking-fix:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.start-vbox {
    -fx-padding: 20 0 10 0; /* Bottom only */
    -fx-max-width: 300px;
    -fx-max-height: 600px;
}

.booking-vbox {
    -fx-padding: 0 0 15 0; /* Bottom only */
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255, 255, 255, 0.30);
    -fx-border-radius: 20px;
    -fx-border-color: none;
    -fx-max-width: 200px;
}

.booking-vbox:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.topMenu-vbox {
    -fx-text-alignment: CENTER;
}

.message-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.30);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.user-button {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-size: 14px;
    -fx-padding: 12 20;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: Infinity;
}

.user-button-delete {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-size: 14px;
    -fx-padding: 12 20;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: Infinity;
}

.user-button-delete:focused {
    -fx-background-color: rgba(255, 55, 55, 0.36);
    -fx-border-color: transparent #ff001f transparent transparent;
    -fx-border-width: 0 4px 0 0;
    -fx-border-style: solid;
}

.user-button-delete:focused:hover {
    -fx-background-color: rgba(163, 17, 17, 0.36);
}

.user-button1 {
    -fx-background-radius: 20 0 0 0;
}

.user-button-last { /* NOT TESTED */
    -fx-background-radius: 0 0 0 20;
}

.user-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.user-button-delete:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.user-button:focused {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: transparent orange transparent transparent;
    -fx-border-width: 0 4px 0 0;
    -fx-border-style: solid;
}

.combo-box-book {
    -fx-background-color: #696969;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0.50);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-max-width: 200px; /* Important */
    -fx-min-width: 200px; /* Important */
    -fx-max-height: 60px; /* Important */
    -fx-min-height: 60px; /* Important */
    -fx-text-fill: rgb(255, 255, 255) !important;
    -fx-font-size: 16px;
    -fx-font-weight: bold !important;
    -fx-margin: 0;
    -fx-padding: 0 0 0 20px;
}

.combo-box-book:hover {
    -fx-background-color: #696969; /* Same as original // To remove annoying Hover effect on ComboBox */
}

.combo-box-book .list-cell:selected {
    -fx-background-color: none !important;
    -fx-text-fill: rgb(255, 255, 255); /* ComboBox Fix */
}

.image-button {
    -fx-background-color: #656565;
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.image-button:hover {
    -fx-background-color: #5b5b5b;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.image-button:focused {
    -fx-background-color: orange;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.slide-show {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 200px;
    -fx-tab-max-height: 200px;
}
